<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthtalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeeTalk">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primaryColor" />

        <activity
            android:name="com.example.healthtalk.pages.EditCommentPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.SingleVideoPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.PostCommentPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.ChangePasswordPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.RecentFollowersPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.UpdatePasswordPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.VerifyOTPForgotPasswordPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.EditProfilePage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.EditThreadPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.ProfilePage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.ForgotPasswordPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.MainPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.CommentDetailPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.ThreadDetailPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.CreateThreadPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.ThreadPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.RegisterPage"
            android:exported="false" />
        <activity
            android:name="com.example.healthtalk.pages.LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.healthtalk.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>